<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<style>
    .shadow-box {
        box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
        padding: 8px;
    }

    a {
        text-decoration: none;
    }

    .set_li {
        list-style-type: circle;
    }

    button {
        background-color: darkseagreen;
        border: none;
        color: white;
        padding: 6px 26px;
        text-align: center;
        font-size: 16px;
        margin: 0 20px;
    }

    .functional-button {
        background-color: dodgerblue;
        border-radius: 6px
    }
</style>
<body>

<%- include('../partials/header'); %>

<div class="container-fluid">
    <div class="row">
        <% if (user) { %>
            <div class="col-2">
                <h4 class="text-center">Current User
                    <i style="cursor: pointer; color: cornflowerblue" class="fa fa-sign-out mx-1" aria-hidden="true"
                       onclick="location.href='/logout'"></i>
                </h4>
                <div class="shadow-box">
                    <ul>
                        <li>ID: <%= user.full_user.id %></li>
                        <li>Username: <%= user.users[0].username %></li>
                        <li>First name: <%= user.users[0].first_name %></li>
                        <li>Status: "<%= user.full_user.about %>"</li>
                        <li>Phone: <%= user.users[0].phone %></li>
                    </ul>
                    <button onclick="show(this)">Show full details</button>
                    <ul style="display: none">
                        <% Object.entries(user.full_user).map( ([key, val]) => { %>
                            <li><%= key %>: <%= val %></li>
                            <% if (key === 'settings') {
                            Object.entries(user.full_user.settings).map( ([key, val]) => { %>
                                <li class="set_li"><%= key %>: <%= val %></li>
                            <% })} %>

                            <% if (key === 'notify_settings') {
                            Object.entries(user.full_user.notify_settings).map( ([key, val]) => { %>
                                <li class="set_li"><%= key %>: <%= val %></li>
                            <% })} %>
                        <% }) %>

                        <% Object.entries(user.users[0]).map( ([key, val]) => { %>
                            <li><%= key %>: <%= val %></li>
                            <% if (key === 'photo') {
                            Object.entries(user.users[0].photo).map( ([key, val]) => { %>
                                <li class="set_li"><%= key %>: <%= val %></li>
                            <% })} %>

                            <% if (key === 'status') {
                            Object.entries(user.users[0].status).map( ([key, val]) => { %>
                                <li class="set_li"><%= key %>: <%= val %></li>
                            <% })} %>
                        <% }) %>

                    </ul>
                </div>
            </div>

            <div class="col-2">
                <h4 class="text-center">Dialogs</h4>
                <div class="shadow-box">
                    <button onclick="show(this)">Show full details</button>
                    <div style="display: none">
                        <% if (users) { %>
                            <% users.forEach(user => { %>
                                <div class="border"><%= user.id %> | <%= user.first_name %>
                                    <% if (user.username) { %>
                                        <br>
                                        <a target="_blank"
                                           href="https://t.me/<%= user.username %>">@<%= user.username %></a>
                                    <% } %>
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <h4 class="text-center">Chats</h4>
                <div class="shadow-box">
                    <button onclick="show(this)">Show full details</button>
                    <div style="display: none">
                        <% if (chats) { %>
                            <% chats.forEach(chat => { %>
                                <div class="border"><%= chat.id %> | <%= chat.title %></div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <h4 class="text-center">Channels</h4>
                <div class="shadow-box">
                    <button onclick="show(this)">Show full details</button>
                    <div style="display: none">
                        <% if (channels) { %>
                            <% channels.forEach(channel => { %>
                                <div class="border"><%= channel.id %> | <%= channel.title %></div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>

        <div class="col">
            <h4 class="text-center">
                Messages
            </h4>
            <div class="shadow-box">
                <div class="text-center">
                    <button class="functional-button" data-bs-toggle="modal" data-bs-target="#msguser">
                        Send message to User
                    </button> <br><br>
                    <button class="functional-button" data-bs-toggle="modal" data-bs-target="#msgchat">
                        Send message to Chat
                    </button>
                </div>
            </div>

            <% } else { %>
                <% if (error) { %>
                    <span class="color-red">
                    <%= error %>
                </span>
                <% } else { %>
                    <p>You are not authorized! <a href="/signin">Sign In</a></p>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="modal fade" id="msguser" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message to User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/sendMessageToUser" method="post">
                    <div class="modal-body">
                        User ID
                        <input type="number" name="user_id" class="form-control" required>
                        Message
                        <textarea name="message" class="form-control" required></textarea>
                        Count
                        <input type="number" name="count" class="form-control" value="1" required>
                        Interval
                        <input type="number" name="interval" class="form-control" value="100" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function show(el) {
            const x = el.nextElementSibling;
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                const x = el.nextElementSibling;
                x.style.display = 'none';
            }
        }
    </script>
</body>
</html>